In [16]:
import pandas as pd

In [17]:
file = pd.read_csv('F:\\datasets\\gender_classification_v7.csv')
df = file.copy()
df.sample(10)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
4195,1,14.8,6.9,0,1,1,1,Male
251,1,12.3,5.8,1,0,0,1,Male
561,0,12.0,5.8,0,0,0,0,Female
1712,1,13.3,6.1,0,1,0,0,Female
640,1,13.5,6.4,1,0,0,0,Female
1891,1,11.5,7.1,1,1,1,1,Male
2512,1,12.2,5.3,1,0,0,0,Female
2411,1,13.1,5.4,1,0,0,0,Female
4934,0,14.2,5.4,0,1,1,1,Male
1644,1,12.6,5.6,0,0,1,0,Female

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

In [19]:
for col in df.columns :
    print(col)
    print(df[col].value_counts(ascending=False))

long_hair
1    4349
0     652
Name: long_hair, dtype: int64
forehead_width_cm
12.0    168
11.8    161
14.1    155
14.0    154
11.5    154
11.6    152
11.9    150
13.3    149
14.2    149
12.2    145
12.6    145
12.1    145
13.2    143
14.3    143
12.9    141
12.5    141
13.7    140
12.8    138
12.3    138
13.6    138
13.0    137
13.4    137
13.5    136
13.8    134
11.7    133
13.1    131
13.9    131
12.7    130
12.4    127
11.4     84
14.9     79
14.5     72
15.2     71
15.5     66
15.1     65
15.4     64
15.3     64
14.4     63
14.6     61
15.0     60
14.7     59
14.8     48
Name: forehead_width_cm, dtype: int64
forehead_height_cm
5.7    306
5.9    303
5.3    301
5.5    299
6.1    296
5.1    293
6.2    290
5.8    290
6.4    287
6.3    285
6.5    285
5.6    279
6.0    275
5.4    265
5.2    259
6.6    126
6.8    118
7.0    117
7.1    113
6.9    109
6.7    105
Name: forehead_height_cm, dtype: int64
nose_wide
0    2531
1    2470
Name: nose_wide, dtype: int64
nose_long
1    2540
0    2461
Name: nose_long, dtype: int64
lips_thin
0    2535
1    2466
Name: lips_thin, dtype: int64
distance_nose_to_lip_long
0    2506
1    2495
Name: distance_nose_to_lip_long, dtype: int64
gender
Female    2501
Male      2500
Name: gender, dtype: int64

In [20]:
df.describe()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
count,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000
mean,0.869626,13.181484,5.946311,0.493901,0.507898,0.493101,0.498900
std,0.336748,1.107128,0.541268,0.500013,0.499988,0.500002,0.500049
min,0.000000,11.400000,5.100000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,12.200000,5.500000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,13.100000,5.900000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,14.000000,6.400000,1.000000,1.000000,1.000000,1.000000
max,1.000000,15.500000,7.100000,1.000000,1.000000,1.000000,1.000000

In [21]:
label = df['gender']
df_x = df.drop(['gender'],axis=1)

In [22]:
df.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
encoder = LabelEncoder()
encoded_lbl = pd.DataFrame(encoder.fit_transform(label),columns=['gender'])
encoded_lbl.value_counts(ascending=False)

gender
0         2501
1         2500
dtype: int64

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_df_x = pd.DataFrame(scaler.fit_transform(df_x),columns=df_x.columns)
scaled_df_x.sample(10)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
2164,0.387194,-1.338266,-1.194188,-0.987876,-1.015924,-0.986297,-0.997803
4432,0.387194,0.287725,-1.194188,1.012273,0.984326,1.013894,1.002202
3681,-2.582682,1.010387,-0.639878,1.012273,0.984326,1.013894,1.002202
4622,0.387194,-0.434938,1.207821,1.012273,0.984326,1.013894,1.002202
3736,0.387194,0.558723,-0.639878,-0.987876,-1.015924,1.013894,-0.997803
2891,0.387194,-0.886602,-1.378958,-0.987876,-1.015924,-0.986297,-0.997803
354,0.387194,-0.886602,0.099202,-0.987876,-1.015924,-0.986297,1.002202
2302,0.387194,0.287725,-1.009418,-0.987876,-1.015924,-0.986297,-0.997803
900,-2.582682,-0.254272,-0.455108,-0.987876,-1.015924,-0.986297,-0.997803
3071,0.387194,-0.615603,-1.009418,1.012273,0.984326,1.013894,1.002202

In [26]:
from sklearn.model_selection import train_test_split
xtr , xts , ytr , yts = train_test_split(scaled_df_x,encoded_lbl,test_size=0.2,random_state=42)

In [27]:
from sklearn.svm import LinearSVC
teacher = LinearSVC()
teacher.fit(xtr,ytr)
teacher.score(xtr,ytr)*100

C:\Users\pouria_z\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

96.95

In [28]:
teacher.score(xts,yts)*100

96.1038961038961

In [29]:
teacher.score(scaled_df_x,encoded_lbl)*100

96.78064387122576